<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Help
{% endblock %}

{% block body_block %}

    <h1>
       It seems you are here to seek wisdom
    </h1>
	
    <div> <!-- the css will be added later -->
        The objective of this game to graduate university.
		You will be asked a series of questions along the way. 
		Each choice you make will have different outcome on your status bars. 
		Careful not to let either of your status bars fall too low! <br />
    </div>
		
    <div>
	<!-- add image later (no planned image yet)-->
        <img src="{% static "images/cat.jpg" %}"
            alt="Picture of UoG" />
        <img src="{{ MEDIA_URL }}cat.jpg">
    </div>
    
	<a href="{% url 'home' %}">Return to homepage.</a><br /> <!--remove if implement taskbars ? discuss with teammates-->
{% endblock %}
