<!DOCTYPE html>
{% extends 'glasgowrpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About 
{% endblock %}


{% block body_block %}
    <h1>
       This is the About page.
    </h1>
	
    <div> <!-- css might be added later-->
        Glasgow RPG is a free to play, texted-base RPG, developed by 3 second year students of University of Glasgow.
		Han Meng Loo, Christopher Macfayden and Euan Temporal.
		We hope you enjoy this game!
		You can contact us <!-- add contact method, email, number -->
	<div>
	
    <div>
	<!-- add group picture later-->
        <img src="{% static "images/teampicture.jpg" %}"
            alt="Picture of the team" />
        <img src="{{ MEDIA_URL }}teampicture.jpg">
    </div>
    
	<a href="{% url 'home' %}">Return to homepage.</a><br />
{% endblock %}
