<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}
    <h1>
       This is the About page.
    </h1>

    <div style = "margin-left: 40px;"
		<div class = "pagecontent"> <!-- css might be added later-->
			Glasgow RPG is a free to play, texted-base RPG, developed by 3 second year students of University of Glasgow.
			Han Meng Loo, Christopher McFadyen and Euan Temporal.
			We hope you enjoy this game!<span class="blinking-cursor">|</span>
		</div>
	<div>

	<!--
    <div>
	 add group picture later
        <img src="{% static "images/teampicture.jpg" %}"
            alt="Picture of the team" />
        <img src="{{ MEDIA_URL }}teampicture.jpg">
    </div>
    -->

{% endblock %}
