<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}
    <h1>
       About
    </h1>

    <div style = "margin-left: 40px;" >
		<div class = "pagecontent">
			Glasgow RPG is a free to play, texted-base RPG, developed by 3 second year students of University of Glasgow.
			Han Meng Loo, Christopher McFadyen and Euan Temporal.
			We hope you enjoy this game!<span class="blinking-cursor">|</span>
		</div>
	<div>


{% endblock %}
