<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Help
{% endblock %}

{% block body_block %}

    <h1>
       It seems you are here to seek wisdom
    </h1>

    <div style = "margin-left: 40px;"> <!-- the css will be added later -->
        <p>The objective of this game is to graduate university. </p>
	    <p>You must make some 'diffcult' choices along the way.</p>
	    <p>Choices have consequences.</p>
		<p>You are judged on your social standing and academic ability. <span class="blinking-cursor">|</span> </p>
    </div>


{% endblock %}
