<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Welcome to Glasgow RPG</h1>
	
	<div style = "margin-left: 40px;" class = "pagecontent">
    {% if user.is_authenticated %}
        Greetings {{ user.username }}!
        <li><a href="{% url 'play' %}">Play Now</a></li>

    {% else %}
        An exciting journey awaits you, create your free account to start playing now ! <span class="blinking-cursor">|</span>
	{% endif %}
	</div>


{% endblock %}





