<!DOCTYPE html>
{% extends 'rpg/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Welcome to Glasgow RPG</h1>

	<div style = "margin-left: 40px;">
		<div class = "pagecontent">
		{% if user.is_authenticated %}
			Greetings {{ user.username }}!

			<form action="{% url 'play' %}">
                <input type="submit" value="Play Now" />
            </form>

		{% else %}
			An exciting journey awaits you, create your free account to start playing now ! <span class="blinking-cursor">|</span>
		{% endif %}
		</div>
	</div>


{% endblock %}





