{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Login to GlasgowRPG</h1>
<div style = "margin-left: 40px;">
<form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
</div>
{% endblock %}

