{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Game Statistics
{% endblock %}

{% block body_block %}

	<h1>
	Here are your game statistics {{user.username}} !
	</h1>

    <div style = "margin-left: 40px;">
		<div class = "pagecontent">
		<p>
		Number of graduations: {{user.academic_score|stringformat:"i"}}
		</p>

		<p>
		Times in Viper: {{user.no_viper}}
		</p>

		<p>
		Drop outs: {{user.no_drop}}
		</P>

		<p>
		John Williamson homeworks completed: {{user.no_homework}}
		</P>

		<p>
		Pints of Tennent's: {{user.no_tennent}}
		</P>

		</div>
	</div>

{% endblock %}