{% extends 'rpg/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Game Statistics
{% endblock %}

{% block body_block %}

	<h1>
	Here are your game statistics {{user.username}} !
	</h1>

    <div style = "margin-left: 40px;">
        <div class = "pagecontent">
		<p>
		Display name: {{user_id.displayname}}
		</p

		<div class = "pagecontent">
		<p>
		Number of graduations: {{user_id.no_grads}}
		</p>

		<p>
		Times in Viper: {{user_id.no_viper}}
		</p>

		<p>
		Drop outs: {{user_id.no_drop}}
		</P>

		<p>
		John Williamson homeworks completed: {{user_id.no_homework}}
		</P>

		<p>
		Pints of Tennent's: {{user_id.no_tennent}}
		</P>

		</div>
	</div>

{% endblock %}