{% extends 'rpg/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}
	<h1>
	Here are the details of your account
	</h1>

	<div style = "margin-left: 40px;" >
		<div class = "pagecontent">
			<p>Email : {{user.email}}</p>

			<p>Username: {{user.username}} </p>
			
			<p>Password in hash form : {{user.password}} </p>

			<p>First day of University : {{user.date_joined}} </p>  <!-- to include the account creation date, from django date_joined-->

			<p>Current status bars: </p> <!-- displaying social and academic bars-->
			
		</div>
	</div>

{% endblock %}