
@import url('https://fonts.googleapis.com/css?family=VT323');
        body {
            background-color: black;
            color: #00ff00;
            font-family: VT323;


        }

        h1 {
            color: white;
            margin-left: 40px;
            font-family: VT323;
			font-size: 70px;
        }

        .blinking-cursor {
          font-weight: 100;
          font-size: 30px;
          color: #2E3D48;
          -webkit-animation: 1s blink step-end infinite;
          -moz-animation: 1s blink step-end infinite;
          -ms-animation: 1s blink step-end infinite;
          -o-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite;
        }

        @keyframes "blink" {
          from, to {
            color: transparent;
          }
          50% {
            color: #00ff00;
          }
        }

        @-moz-keyframes blink {
          from, to {
            color: transparent;
          }
          50% {
            color: #00ff00;
          }
        }

        @-webkit-keyframes "blink" {
          from, to {
            color: transparent;
          }
          50% {
            color: #00ff00;
          }
        }

        @-ms-keyframes "blink" {
          from, to {
            color: transparent;
          }
          50% {
            color: #00ff00;
          }
        }

        @-o-keyframes "blink" {
          from, to {
            color: transparent;
          }
          50% {
            color: #00ff00;
          }
        }

    input[type=submit] {
        padding:5px 5px;
        background:black;
        border:1 white;
        cursor:pointer;
        -webkit-border-radius: 1px;
        border-radius: 1px;
    }
    input[type=text] {
    color: black;
    }
    input[type=password] {
    color: black;
    }
	
	nav {
     width: 100%;
     height: 40px;
     background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     border-radius: 6px !important;
     -moz-border-radius: 6px !important;
        }
		
	
	
	.nav li{
    padding-right:5px;
   }
   
	.navbar-brand {
		font-size: 30px;
	}

